.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: antiquewhite;
    height: 98vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url("../assets/background.png");
}
